/*** ADD OVERRIDE STYLES TO OFF-CANVAS TEMPLATE ***/

/*** BASE STYLES ***/

.bg-django {
  background: #0C4B33;
  small { color: #44B78B; }
}

.bg-angular {
  background: #1976d2;

}

.bg-react {
  background: #282c34;

  h6 { color: #61dafb !important; }
}

.bg-vue {
  background: #fff;

  h6 { color: #4fc08d !important; }
  small { color: #2c3e50; }

}
