{% extends "scout_clients/base.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Demo: Classic Django{% endblock %}
{% block content %}

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-django rounded box-shadow">
  <img class="mr-3" src="{% static "scout_clients/img/django.png" %}" alt="" width="48" height="48">
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">{{hello}}</h6>
    <small>Django View and Templates</small>
  </div>
</div>

<div id="classic_demo">

  <div>
    <small class="text-muted">The following container will render a django template with context passed from the view!</small>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Button Component</h6>
    <div class="pt-3">

      <button type="button" id="button_counter" class="btn btn-outline-secondary btn-sm">You clicked me <span id="count_number">0</span> times.</button>

    </div>
  </div>

  <div>
    <small class="text-muted">The following container will render a django template with context passed from the view!</small>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">All Spots</h6>

    <ul class="p-0">
      {% for spot in spots %}
      <li class="media text-muted pt-3">
        <img src="http://via.placeholder.com/32x32" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">{{ spot.name }}</strong>
          {{ spot.building_name }}<br/>
          {{spot.latitude }}, {{ spot.longitude }}
        </p>
     </li>
    {% endfor %}
    </ul>

  </div>

</div>

<!-- load bundled angular files using webpack loader -->
{% render_bundle 'classic_demo' %}

{% endblock %}
