{% extends "scout_clients/base.html" %}

{% load static %}

{% block title %}Demo: Classic Django{% endblock %}
{% block content %}

<div class="jumbotron">
  <h1>{{hello}}</h1>
  <p class="lead">Let's experiment with exposing data through 2 popular API server architectures. Then we'll consume the data using client apps built with various techniques.</p>
</div>

<p>The following container will render a django template with context passed from the view!</p>

<div class="row marketing" style="border:solid 1px red;">

  <h2 class="classic-header">Classic Django</h2>

  <div class = "col-lg-12">
      <ul class="media-list classic-list">
        {% for spot in spots %}
        <li class="media">
          <div class="media-left">
            <a href="#"><img class="media-object" src="http://via.placeholder.com/60x60" alt="..."></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ spot.name }}</h4>
            <p>{{spot.buildingName}}<br/>
            {{spot.latitude}}, {{spot.longitude}}</p>
          </div>
        </li>
        {% endfor %}

    </ul>
  </div>

</div>

{% endblock %}
