<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% load compress %}
    {% load staticfiles %}
    {% load render_bundle from webpack_loader %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- jquery + turbolinks -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>

    <!-- install stupid angular polyfills manually - angular 4+ compatibility -->
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.min.js"></script>
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.26/zone.min.js"></script>

    <!-- opt-out of turbolinks caching to make react components work better -->
    <meta name="turbolinks-cache-control" content="no-cache">

    <!-- compressed css and js using django-compressor -->
    {% compress js %}
    <script type="text/javascript" src="{% static "scout_clients/js/main.js" %}"></script>
    {% endcompress %}
    {% compress css %}
    <link rel="stylesheet" href="{% static "scout_clients/css/main.css" %}" type="text/css">
    {% endcompress %}

    <!-- load bundled vendor files using webpack loader -->
    {% render_bundle 'vendor' %}

  </head>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
          </ul>
        </nav>
        <div class="text-muted" style="font-size:24px; font-weight:500;">Scout</div>
      </div>

      {% block content %}{% endblock %}

      <footer class="footer">
        <p>&copy; {% now "Y" %} Your Name Here</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
