{% extends "scout_clients/base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>{{hello}}</h1>
  <p class="lead">Let's experiment with exposing data through 2 popular API server architectures. Then we'll consume the data using client apps built with various techniques.</p>
</div>

<div class="row marketing">
  <h2>Server API</h2>
  <div class="col-lg-6">
    <h3>GraphQL</h3>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <p><a href="/graphql/" data-turbolinks="false">Launch GraphiQL Viewer</a></p>
  </div>

  <div class="col-lg-6">
    <h3>REST (via DRF)</h3>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <p><a href="/api/v1/spots/" data-turbolinks="false">Views Spots Endpoint</a></p>
  </div>
</div>

<div class="row marketing">
  <h2>Clients</h2>
  <div class="col-lg-6">

    <h4>Classic (Django View/Template)</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

    <h4>Javascript (jQuery)</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>React</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <p><a href="/react/demo/">React Demo</a></p>
  </div>
</div>

<div class="row marketing">
    <h2>Template</h2>

    <div class="col-lg-6" style="margin-top:2em;">
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="#"><img class="media-object" src="http://via.placeholder.com/60x60" alt="..."></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>asdfasf</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#"><img class="media-object" src="http://via.placeholder.com/60x60" alt="..."></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>asdfasf</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#"><img class="media-object" src="http://via.placeholder.com/60x60" alt="..."></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>asdfasf</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#"><img class="media-object" src="http://via.placeholder.com/60x60" alt="..."></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>asdfasf</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#"><img class="media-object" src="http://via.placeholder.com/60x60" alt="..."></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>asdfasf</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#"><img class="media-object" src="http://via.placeholder.com/60x60" alt="..."></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>asdfasf</p>
            </div>
          </li>
        </ul>

    </div>
</div>

{% endblock %}
