{% extends "scout_clients/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Server APIs</h6>
  <div class="media text-muted pt-3">
    <img src="http://via.placeholder.com/32x32" alt="" class="mr-2 rounded">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Django REST Framework</strong>
      <span class="d-block">asdfasdf.</span>
      <a class="d-block mt-1"  href="/api/v1/spots/" data-turbolinks="false">Launch Spots API</a>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img src="http://via.placeholder.com/32x32" alt="" class="mr-2 rounded">
    <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">GraphQL</strong>
      <span class="d-block">asdfadsf.</span>
      <a class="d-block mt-1"  href="/graphql" data-turbolinks="false">Launch GraphiQL Viewer</a>
    </p>
  </div>

</div>

<div class="my-3 p-3 bg-white rounded box-shadow">

  <h6 class="border-bottom border-gray pb-2 mb-0">Boilerplate</h6>
  <div class="media text-muted pt-3">
    <img class="mr-2" src="{% static "scout_clients/img/django.png" %}" alt="" width="32" height="32">
    <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">Django</strong>
      <span class="d-block">Django View &amp; Template page loaded using Turbolinks.</span>
      <a class="d-block mt-1" href="/classic/demo/">Django Demo</a>
    </p>
  </div>

</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Javascript Frameworks</h6>
  <div class="media text-muted pt-3">
    <img class="mr-2" src="{% static "scout_clients/img/angular.png" %}" alt="" width="32" height="32">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Angular</strong>
      <span class="d-block">Django Classic pages with Angular components loaded using Webpack Loader.</span>
      <a class="d-block mt-1" href="/angular/demo/">Angular Demo</a>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img class="mr-2" src="{% static "scout_clients/img/react.png" %}" alt="" width="32" height="32">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">React</strong>
      <span class="d-block">Django Classic pages with React components loaded using Webpack Loader.</span>
      <a class="d-block mt-1" href="/react/demo/">React Demo</a>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img class="mr-2" src="{% static "scout_clients/img/vue.png" %}" alt="" width="32" height="32">
    <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">Vue</strong>
      <span class="d-block">Django Classic pages with Vue components loaded using Webpack Loader.</span>
      <a class="d-block mt-1" href="/vue/demo/">Vue Demo</a>
    </p>
  </div>
</div>

{% endblock %}
