{% extends "scout_clients/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Server APIs</h6>

  <div class="media text-muted pt-3">
    <img src="http://via.placeholder.com/32x32" alt="" class="mr-2 rounded">
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Django REST Framework</strong>
        <a href="/api/v1/spots/" data-turbolinks="false">View Spots API</a>
      </div>
      <span class="d-block">asdfasdf</span>
    </div>
  </div>
  <div class="media text-muted pt-3">
    <img src="http://via.placeholder.com/32x32" alt="" class="mr-2 rounded">
    <div class="media-body pb-3 mb-0 small lh-125">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">GraphQL</strong>
        <a href="/graphql" data-turbolinks="false">Launch GraphiQL Viewer</a>
      </div>
      <span class="d-block">asdfdasfadsf</span>
    </div>
  </div>

</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Client Demos</h6>

  <div class="media text-muted pt-3">
    <img class="mr-2" src="{% static "scout_clients/img/django.png" %}" alt="" width="32" height="32">
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Django</strong>
        <a href="/classic/demo/">Django Demo</a>
      </div>
      <span class="d-block">Django View &amp; Template page loaded using Turbolinks.</span>
    </div>
  </div>
  <div class="media text-muted pt-3">
    <img class="mr-2" src="{% static "scout_clients/img/angular.png" %}" alt="" width="32" height="32">
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Angular</strong>
        <a href="/angular/demo/">Angular Demo</a>
      </div>
      <span class="d-block">Django Classic pages with Angular components loaded using Webpack Loader.</span>
    </div>
  </div>
  <div class="media text-muted pt-3">
    <img class="mr-2" src="{% static "scout_clients/img/react.png" %}" alt="" width="32" height="32">
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">React</strong>
        <a href="/react/demo/">React Demo</a>
      </div>
      <span class="d-block">Django Classic pages with React components loaded using Webpack Loader.</span>
    </div>
  </div>
  <div class="media text-muted pt-3">
    <img class="mr-2" src="{% static "scout_clients/img/vue.png" %}" alt="" width="32" height="32">
    <div class="media-body pb-3 mb-0 small lh-125">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Vue</strong>
        <a href="/vue/demo/">Vue Demo</a>
      </div>
      <span class="d-block">Django Classic pages with Vue components loaded using Webpack Loader.</span>
    </div>
  </div>

</div>

{% endblock %}
