{% extends "scout_clients/base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>{{hello}}</h1>
  <p class="lead">Let's experiment with comsuming API data and deplaying them in a client app.</p>
</div>

<div class="row marketing">
  <h2>APIs</h2>
  <div class="col-lg-6">
    <h3>GraphQL</h3>
    <h4>Javascript (jQuery)</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Classic (Django View/Template)</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6">
    <h3>REST</h3>

    <h4>Javascript (jQuery)</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Classic (Django View/Template)</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>


    <h2>Template</h2>

        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://via.placeholder.com/60x60" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              asdfasf
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://via.placeholder.com/60x60" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              asdfasf
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://via.placeholder.com/60x60" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              asdfasf
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://via.placeholder.com/60x60" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              asdfasf
            </div>
          </li>
        </ul>


{% endblock %}
