{% extends "scout_clients/base.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Demo: Vue Django{% endblock %}

{% block custom_head %}
<!-- bundled react vendors from node_modules using webpack -->
{% render_bundle 'vendor' %}
<!-- opt-out of turbolinks caching to make react components work better -->
<meta name="turbolinks-cache-control" content="no-cache">
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>{{hello}}</h1>
  <p class="lead">Let's experiment with exposing data through 2 popular API server architectures. Then we'll consume the data using client apps built with various techniques.</p>
</div>

<p>The following container will render a vue component with data recieved via an axios request.</p>

<div class="row marketing" style="border:solid 1px red;">

    <h2 class="classic-header">Vue</h2>

    <div id="vue_demo" class="col-lg-12">

        <button-counter-literal></button-counter-literal>

        <button-counter-inline inline-template>
          <div style="margin-bottom:25px;">
              <button v-on:click="count++">You clicked me [[ count ]] times [[ blah ]]. (inline component)</button>
          </div>
        </button-counter-inline>

        <button-counter-vue></button-counter-vue>

        <h2 class="vue-header">[[ title ]]</h2>
        <div v-if="loading">
          Loading.....
        </div>

        <ul class="media-list vue-list">
            <li v-for="space in spaces" class="media">
               <div class="media-left">
                  <a href="#"><img className="media-object" src="http://via.placeholder.com/60x60" alt="..." /></a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">[[ space.name ]]</h4>
                <p>[[ space.building_name ]]<br/>
                [[ space.latitude ]], [[ space.longitude ]]</p>
              </div>
           </li>
        </ul>
    </div>

    {% render_bundle 'vue_demo' %}

</div>
{% endblock %}
