{% extends "scout_clients/base.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Demo: Vue Django{% endblock %}

{% block content %}
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-vue rounded box-shadow">
  <img class="mr-3" src="{% static "scout_clients/img/vue.png" %}" alt="" width="48" height="48">
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">{{hello}}</h6>
    <small>Vue demo stuff</small>
  </div>
</div>

<div id="vue_demo">

  <button-counter></button-counter>
  <spots-list></spots-list>

</div>


<!-- load bundled angular files using webpack loader -->
{% render_bundle 'vue_demo' %}

{% endblock %}
