{% extends "scout_clients/base.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Demo: React{% endblock %}

{% block custom_head %}
<!-- bundled react vendors from node_modules using webpack -->
{% render_bundle 'vendor' %}
<!-- opt-out of turbolinks caching to make react components work better -->
<meta name="turbolinks-cache-control" content="no-cache">
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1>{{hello}}</h1>
  <p class="lead">Let's experiment with exposing data through 2 popular API server architectures. Then we'll consume the data using client apps built with various techniques.</p>
</div>

<p>The following container will render independent React components!</p>

<div class="row marketing" id="react_demo" style="border:solid 1px purple;"></div>
{% render_bundle 'react_demo' %}

{% endblock %}
