{% extends "scout_clients/base.html" %}

{% load static %}
{% load compress %}

{% block title %}Demo: React{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>{{hello}}</h1>
  <p class="lead">Let's experiment with exposing data through 2 popular API server architectures. Then we'll consume the data using client apps built with various techniques.</p>
</div>

<p>The following lime container will render a React component!</p>
<div class="row marketing" id="hello" style="border:solid 1px lime;"></div>
<div class="row marketing" id="world" style="border:solid 1px red;"></div>

<script>
    window.props = {{ props|safe }};
</script>

{% compress js %}
<script src="{% static 'scout_clients/react/hello.jsx' %}" type="text/jsx" />
<script src="{% static 'scout_clients/react/world.jsx' %}" type="text/jsx" />
{% endcompress %}

{% endblock %}
